@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");

.desktop-1 {
    align-items: flex-start;
    background-color: #313131;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1024px;
    width: 1440px;
}

.hidden
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 182px;
    height: 914px;
    margin-left: 40px;
    margin-top: 40px;
    min-width: 1236px;
}

.flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    min-height: 581px;
    width: 604px;
}

.rectangle-3 {
    background-color: var(--light-mid);
    height: 50px;
    margin-top: 11px;
    width: 400px;
}

.rectangle-1 {
    background-color: var(--light-mid);
    height: 50px;
    margin-right: 2px;
    margin-top: 11px;
    width: 400px;
}

.overlap-group1 {
    height: 32px;
    margin-right: 2px;
    margin-top: 48px;
    position: relative;
    width: 250px;
}

.rectangle-2:hover {
    background-color: #7659b4;
}

.rectangle-2 {
    background-color: var(--accent);
    cursor: pointer;
    height: 30px;
    left: 0;
    position: absolute;
    top: 2px;
    transition: all 0.2s ease;
    width: 250px;
}

.place {
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.passcode {
    height: 31px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    margin-top: 9px;
    text-align: center;
    width: 317px;
}

.agent-identification-page {
    color: var(--light);
    font-family: var(--font-family-pt_sans_narrow);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 93px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 604px;
}

.agemt-number {
    height: 31px;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 1px;
    margin-top: 215px;
    text-align: center;
    width: 317px;
}

.overlap-group {
    align-items: center;
    background-color: var(--light-mid);
    display: flex;
    flex-direction: column;
    min-height: 914px;
    padding: 15px 0;
    width: 450px;
}

.flex-row-1 {
    align-items: center;
    align-self: flex-start;
    display: flex;
    gap: 13px;
    margin-left: 15px;
    min-width: 313px;
}

.rectangle-6 {
    background-color: var(--logo-grey);
    height: 55px;
    width: 55px;
}

.arnombo-secret-society-ass {
    color: var(--logo-grey);
    font-family: var(--font-family-pt_sans_narrow);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 2px;
    min-height: 31px;
    min-width: 245px;
    text-align: center;
}

.everyone-at-ass-work {
    color: var(--dark);
    font-family: var(--font-family-pt_sans_narrow);
    font-size: var(--font-size-m);
    font-weight: 700;
    height: 13px;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 3px;
    margin-top: 39px;
    text-align: center;
    width: 371px;
}

.title {
    color: var(--dark);
    font-family: var(--font-family-pt_sans_narrow);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 83px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 216px;
    text-align: center;
    width: 450px;
}

.line-1 {
    height: 11px;
    margin-right: 0;
    margin-top: 41px;
    width: 182px;
}

.rectangle-4 {
    background-color: var(--accent);
    height: 70px;
    width: 1440px;
}
